.ProjectOngoing {
    cursor: pointer;
    width: 412px;
    height: 376px;
    border-radius: 8px;
    box-shadow: 0px 3px 19px rgba(0, 0, 0, 0.15);
    padding: 27px;
    margin-top: 27px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .Location {
        svg {
            .a {
                fill: #f11b5d;
            }
            margin-right: 10px;
        }
        font-size: 18px;
    }

    .Title {
        font-size: 25px;
        font-weight: 700;
    }

    .Description {
        font-size: 20px;
        p {
            margin-bottom: 0px;
            margin-top: 17px;
            height: 57px;
            line-height: 27px; /* Height / no. of lines to display */
            overflow: hidden;
        }
    }

    .Date {
        display: flex;
        font-size: 20px;
        p {
            margin: 4px;
            font-size: 16px;
            color: #9b9b9b;
        }
    }

    .Amount {
        .Line {
            position: absolute;
            z-index: 10;
            margin-bottom: 10px;
            border-radius: 4px;
            background-color: #efefef;
            width: 412px;
            height: 5.58px;
        }

        .Line2 {
            position: relative;
            z-index: 20;
            border-radius: 4px;
            background-color: #f11b5d;
            //width: 50%;
            height: 5.58px;
            margin-bottom: 10px;
            //visibility: hidden;
        }

        span {
            font-size: 16px;
        }
    }

    .Sponsors {
        font-size: 18px;
        color: #b2b2b2;
    }
}
