.Project {
    width: 412px;
    height: 376px;
    box-shadow: 0px 3px 19px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 27px;
    margin-top: 27px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .Location {
        font-size: 18px;
    }

    .Title {
        font-size: 25px;
    }

    .Description {
        font-size: 20px;
    }

    .Date {
        display: flex;
        font-size: 20px;
        p {
            font-size: 16px;
            color: #9b9b9b;
        }
    }

    .Amount {
        .Line {
            margin-bottom: 10px;
            border-radius: 4px;
            background-color: #f11b5d;
            width: 100%;
            height: 5.58px;
        }

        font-size: 16px;
    }

    .Sponsors {
        font-size: 18px;
        color: #b2b2b2;
    }
}
